<!--The content below is only a placeholder and can be replaced.-->
<div>
  <md-toolbar color="primary">
    <span>Price Sheet</span>
    <span class="spacer"></span>
    <button md-button (click)="openDialog()">
      <md-icon>account_box</md-icon>
      <span>Login</span>
    </button>
    <button md-button (click)="getCustomers()">
      <md-icon>cloud_download</md-icon>
      <span>Load Data</span>
    </button>
  </md-toolbar>
</div>
<div>{{error}}<div>
<div *ngFor="let item of customers">
  <span>{{item.id}}</span>,
  <span>{{item.name}}</span>,
  <span>{{item.password}}</span>
</div>