/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.example-full-width {
  width: 80%;
  padding-left: 9%;
  padding-right: 9%
}
